<footer class="site-footer">
    <div class="footer-content">
      <a href="https://ruffle.rs" target="_blank" rel="noopener">
        <img src="data/images/ruffle.png" alt="Ruffle logo" />
      </a>
      <span>This website makes use of Ruffle to emulate Flash content.</span>
    </div>
  </footer>  