<div class="search-bar-container">
  <div class="search-bar-content">
    <div class="logo">
      <a href="/">
        <img src="/data/images/logo.png" alt="Flash Game Archive Logo" />
      </a>
    </div>
    <div class="search-bar-wrapper">
      <div class="search-bar-row">
        <form id="search-form" action="/search" method="get" class="search-bar">
          <input type="text" name="q" placeholder="Search for a game..." value="<%= typeof query !== 'undefined' ? query : '' %>" />
          <button type="submit">Search</button>
        </form>
        <a href="/ontology" class="button-metadata">Browse metadata</a>
      </div>
      <ul id="live-results" class="live-results"></ul>
    </div>
  </div>
</div>

<!-- Logging logic -->
<script src="/js/logging.js"></script>

<script>
  const searchForm = document.getElementById("search-form");
  if (searchForm) {
    searchForm.addEventListener("submit", function () {
      const query = this.q.value;
      logAction("search", { query });
    });
  }
</script>